#map {
    height: 100%;
}

html,
body {
    height: 75%;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.mapa {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}