body {
    height: 75%;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    max-width: 1000px;
    margin: auto;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th,
.table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 139, 72);
}

.table tbody tr:hover {
    background-color: rgba(108, 219, 145, 0.582);
}

.table tbody td:hover {
    background-color: rgba(61, 236, 45, 0.3);
}

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid rgb(19, 148, 19);
        display: block;
    }
    .table th,
    .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid rgb(117, 190, 139);
        text-align: right;
    }
    .table td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}